# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/

# 3DGS Specific
data/
output/
output_test/
output_v2/
output_track1/
output_track2/
output_track3/
track1/
track2/
track3/
*.ply
*.zip
*.pt
*.ckp
*.jpg
*.png
*.mp4

# System
.DS_Store
.vscode/